.outerContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  width: 1400px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.topContainer {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  /* background-color: red; */
}

.bottomContainer {
  /* background-color: royalblue; */
  display: flex;
  height: 200px;
  width: 100%;
}

.leftContainer {
  margin-right: 60px;
  width: 215px;
}

.rightContainer {
  border-left: 1px solid rgb(39, 39, 39);
  width: 100%;
}

.leftTopContainer {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviewNumber {
  font-size: 40px;
  font-weight: bold;
}

.starRating {
  transform: scale(0.65);
}

.starsContainer {
  transform: translateY(-20px);
}

.ratingText {
  transform: translateY(-30px);
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.75);
}

.leftBottomContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.writeReview {
  height: 45px;
  width: 170px;
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 15px;
  font-weight: bold;
  transform: translateY(-05px);
}

.rightContainer {
  padding-left: 80px;
}

.barChartsContainer {
  transform: scale(0.95);
  text-align: left;
  display: flex;
  justify-content: left;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
}

.title {
  font-size: 22.5px;
  text-align: left;
  transform: translateX(-5px);
  margin-bottom: 10px;
}

.menuIcon {
  position: absolute;
  top: 7.5px;
  right: 25px;
  display: flex;
  height: 25px;
  width: 25px;
}
