.outerContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1400px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(217, 217, 217);
  /* background-color: red; */
}

.topContainer {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.bottomContainer {
  /* background-color: royalblue; */
  display: flex;
  height: 200px;
  width: 100%;
}

.leftContainer {
  margin-right: 60px;
  width: 215px;
}

.rightContainer {
  border-left: 1px solid rgb(39, 39, 39);
  width: 100%;
}

.leftTopContainer {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviewNumber {
  font-size: 40px;
  font-weight: bold;
}

.starRating {
  transform: scale(0.65);
}

.starsContainer {
  transform: translateY(-20px);
}

.ratingText {
  transform: translateY(-30px);
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.75);
}

.leftBottomContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;

  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.writeReview {
  height: 45px;
  width: 170px;
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 15px;
  font-weight: bold;
  transform: translateY(-05px);
  transition: 0.15s ease-in-out;
}

.writeReview:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.writeReview:active {
  transform: scale(0.95);
}

.rightContainer {
  padding-left: 80px;
}

.barChartsContainer {
  transform: scale(0.95);
  text-align: left;
  display: flex;
  justify-content: left;
}

.title {
  font-size: 22.5px;
  text-align: left;
  transform: translateX(-5px);
  margin-bottom: 10px;
}

.menuIcon {
  position: absolute;
  top: 7.5px;
  right: 25px;
  display: flex;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/* WRITE NEW REVIEW */

.writeReviewOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1235px;
  height: 760px;
  padding-left: 45px;
  padding-top: 35px;
}

.writeReviewTopContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
}

.writeReviewMiddleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
}

.ratingContainer {
  display: flex;
  margin-bottom: 25px;
}

.writeReviewBottomContainer {
  display: flex;
  width: 100%;
  height: 135px;
}

.writeReviewTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.productImageContainer {
  width: 75px;
  height: 75px;
  margin-right: 15px;
  margin-bottom: 36px;
}

.writeReviewProductPic {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.writeReviewSubtitle {
  display: flex;
}

.productNameContainer {
  font-size: 17.5px;
  color: rgba(0, 0, 0, 0.75);
}

.ratingTitle {
  font-size: 17.5px;
  color: rgba(0, 0, 0, 0.75);
  margin-right: 40px;
}

.writeReviewStarsContainer {
  transform: translateY(-10px);
}

.reviewInputsContainer {
  display: flex;
  flex-direction: column;
}

.emailInputContainer {
  width: 97.5%;
  height: 60px;
  margin-bottom: 20px;
}

.emailInput {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding-left: 12.5px;
}

.emailInput:focus {
  border: 2px solid rgba(0, 0, 0, 0.75);
}

.contentInputContainer {
  width: 97.5%;
  position: relative;
  min-height: 160px;
  /* height: 200px; */
}

.reviewInput {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.75);
  min-height: 95px;
  outline: none;
  font-size: 15px;
  padding-left: 12.5px;
  padding-top: 12.5px;
  color: rgba(0, 0, 0, 0.9);
  resize: vertical;
  max-height: 225px;
}

.reviewInput:focus {
  border: 2px solid rgba(0, 0, 0, 0.75);
}

.addPhotoContainer {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 62.5px;
  padding-bottom: 12.5px;
  transform: translateY(-6px);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-right: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
.addPhotoButton {
  width: 130px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background-color: white;
  font-size: 12.5px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.75);
}

.addPhotoButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.addPhotoButton:active {
  transform: scale(0.95);
}

.writeReviewBottomContainer {
  margin-top: 20px;
  width: 150px;
  height: 45px;
  margin-bottom: 65px;
}

.writeReviewButton {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: black;
  color: white;
  font-weight: bold;
  transition: 0.15s ease-in-out;
  font-size: 12.5px;
}

.writeReviewButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.writeReviewButton:active {
  transform: scale(0.95);
}

.addPhotoOuterContainer {
  width: 685px;
  transform: translate(-15px, -15px);
  height: 505px;
  background-color: rgb(247, 247, 247);
}

.addPhotoTopContainer {
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addPhotoTitle {
  font-size: 35px;
  margin-left: 20px;
}

/* CONTROLS PIC MODAL HEIGHT */
.addPhotoMiddleContainer {
  height: 350px;
  width: 100%;
}

.uploadPic {
  transform: translate(-250px, 0);
  width: 20px;
  height: 20px;
}

.addPhotoLowerContainer {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  position: relative;
}

.selectFileContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
}

div.fileinputs {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.uploadLabel {
  /* margin-right: 12.5px; */
  /* cursor: pointer; */
  transform: translateY(7.5px);
  position: absolute;
}

.uploadPic {
  /* cursor: pointer; */
  height: 20px;
  width: 20px;
  position: absolute;
  right: -25px;
  top: 25px;
}

.inputContainer {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  font-size: 12.5px;
  border-radius: 3px;
  width: 270px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.inputContainer2 {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  font-size: 12.5px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 270px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.addPhotoMiddleContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.addPhotoEmptyPreviewContainer,
.addPhotoPreviewContainer {
  background-color: rgb(204, 204, 204);
  width: 320px;
  height: 275px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  align-items: center;
  border: 2px solid rgb(144, 144, 144);
}

.addPhotoEmptyPreviewContainer {
  margin-bottom: 7.5px;
}

.addPhotoPreviewContainer {
  margin-bottom: 10px;
  border: none;
}

.addPicModal {
  color: red;
}

.cameraIcon {
  width: 35px;
  height: 35px;
  color: rgb(64, 64, 64);
}

.photoPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(247, 247, 247);
  transition: 0.15s ease-in-out;
}

.removePhotoContainer {
  padding-bottom: 15px;
  text-align: center;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.removePhoto,
.removePhoto2 {
  margin-left: 20px;
  height: 30px;
  width: 105px;
  background-color: rgb(217, 217, 217);
  font-size: 12.5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.removePhoto:hover {
  background-color: rgba(0, 0, 0, 0.175);
}

.removePhoto:active,
.removePhoto2:active {
  transform: scale(0.95);
}

.removePhoto2 {
  background-color: transparent;
}

.addPhotoButtonContainer {
  margin-top: 15px;
  width: 105px;
  height: 25px;
}

.addPhotoButton2 {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  outline: none;
  border: none;
  font-size: 11px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
  margin-left: 20px;
}

.addPhotoButton2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.addPhotoButton2:active {
  transform: scale(0.95);
}

.selectFileContainer {
  margin-top: 25px;
}

.selectedReviewImagePreviewContainer {
  width: 100%;
  height: 62.5px;
}
.selectedReviewImagePreview {
  width: 130px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background-color: white;
  object-fit: cover;
}

.removeImageIconContainer {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 129px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  color: rgba(238, 42, 40, 0.8);
}

.removeImageIconContainer:active {
  transform: scale(1.05);
}

.required {
  font-size: 12.5px;
  color: rgba(238, 42, 40, 0.8);
  position: absolute;
  z-index: 50;
  top: 0px;
  left: 12.5px;
}

.reviewSubmissionConfirmationContainer {
  background-color: rgb(205, 225, 206);
  width: 1145px;
  height: 55px;
  transform: translate(-15px, -15px);
  padding-left: 20px;
  font-size: 15px;
  color: rgb(71, 112, 72);
  padding-top: 12.5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.ratingTitle2 {
  color: rgba(238, 42, 40, 0.8);
  font-size: 17.5px;
  margin-right: 40px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noReviews {
  text-decoration: underline;
  /* background-color: rebeccapurple; */
  font-size: 12.5px;
  transform: translate(-5px, 0px);
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.noReviews:hover {
  color: rgb(231, 35, 13);
}
