.topReviewsContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1400px;
  height: 365px;
  margin-top: 25px;
}

.topReviewsTopContainer {
  background-color: #ffffff;
  height: 40px;
  margin-bottom: 30px;
}

.topReviewsMiddleContainer {
  height: 250px;
  width: 1400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.topReviewsMiddleContainer2 {
  height: 250px;
  width: 1400px;
  background-color: #ffffff;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.reviewCard1,
.reviewCard2,
.reviewCard3 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 435px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: 0.15s ease-in-out;
}

.tester {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.reviewCard1:hover {
  border: 1px solid rgba(0, 0, 0, 0.33);
}

.reviewCardMiddleContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.reviewCardBottomContainer {
  background-color: #ffffff;
  padding-top: 2.5px;
  height: 75px;
  display: flex;
}

.topReviewsBottomContainer {
  background-color: #ffffff;
  height: 90px;
  width: 1400px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.topReviewsBottomContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
}

.topReviewTitle {
  font-size: 22.5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviewCardTopContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ffffff;
  height: 45px;
}

.username {
  font-size: 17.5px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.timeAgo {
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(146, 146, 146);
}

.reviewContent {
  margin-top: 10px;
  font-size: 15px;
  height: 45px;
  width: 400px;
  margin-bottom: 25px;
  color: rgb(122, 122, 122);
  overflow: none;
}

.helpfulContainer {
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  transform: translateY(5px);
}

.likeButton,
.dislikeButton {
  margin-right: 20px;
  width: 95px;
  height: 35px;
  font-size: 12.5px;
  /* border-radius: ; */
  font-weight: bold;
  outline: none;
  border: none;
  background-color: rgba(241, 241, 241);
  color: rgba(0, 0, 0, 0.68);
  position: relative;
  transition: 0.15s ease-in-out;
}

.likeButton:hover,
.dislikeButton:hover {
  background-color: rgba(231, 231, 231);
}

.likeButton:active,
.dislikeButton:active {
  transform: scale(0.975);
}

.showAllButton {
  font-size: 17.5px;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-top: 20px;
}

.showAllButton:hover {
  color: rgba(0, 0, 0, 1);
}

.thumbsUpIcon,
.thumbsDownIcon {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
  top: 5px;
  left: 10px;
}

.thumbsDownIcon {
  top: 7.5px;
}

.starRating {
  transform: scale(0.65);
}

.starsContainer {
  transform: translate(-35px, 0px);
}

.ratingText {
  transform: translate(-105px, 10px);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}

.fakeVerified {
  position: relative;
  font-size: 15px;
  margin-top: 10px;
}

.star {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 122.5px;
  color: gold;
}

.carnival {
  width: 1400px;
}

.deleteReview {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: underline;
  font-size: 12.5px;
  transform: translate(30px, -140px);
}

.deleteReviewConfirmationModal {
  position: absolute;
  width: 500px;
  height: 370px;
  background-color: red;
}
