.title {
    background-color: black;
    color: white;
  }

  .image {
    height: 100px;
    width: 100px;
  }

  .cartTitle {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .cartTitle2 {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
  }

  /* STYLED CART PAGE */

  .cartOuterContainer {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(242, 244, 247); */
    width: 1400px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .cartLeftContainer {
    display: flex;
    flex-direction: column;
  }

  .leftTopContainer {
    background-color: rgb(51, 53, 61);
    color: white;
    width: 1040px;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .leftBottomContainer {
    width: 1040px;
    /* background-color: yellow; */
    height: 230px;
    margin-bottom: 30px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 25px;
  }

  .leftBottom1stContainer {
    /* background-color: skyblue; */
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImageContainer {
    /* background-color: yellowgreen; */
    height: 130px;
    width: 140px;
  }

  .productImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .quantityContainer {
    width: 100px;
    height: 40px;
    margin-top: 15px;
  }

  .inputQuantity {
    width: 100px;
    height: 40px;
  }

  .leftBottom2ndContainer {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    width: 310px;
    height: 230px;
  }

  .leftBottom2ndTopContainer {
    height: 150px;
    width: 310px;
    /* background-color: palevioletred; */
  }

  .leftBottom3rdContainer {
    display: flex;
    width: 500px;
    height: 230px;
    /* background-color: lightseagreen; */
  }

  .cartRightContainer {
    width: 330px;
    height: 305px;
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right1stContainer {
    background-color: skyblue;
    height: 50px;
    width: 330px;
    text-align: center;
  }

  .right2ndContainer {
    width: 330px;
    height: 115px;
    background-color: greenyellow;
    text-align: center;
    border-bottom: 5px solid pink;
  }

  .right2nd1stContainer,
  .right2nd2ndContainer,
  .right2nd3rdContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }

  .right3rdContainer {
    background-color: khaki;
    height: 55px;
    width: 100%;
    border-bottom: 5px solid greenyellow;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .button {
    height: 50px;
    width: 340px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
  }

  .homeIconContainer {
    height: 27.5px;
    width: 27.5px;
    color: red;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-right: 5px;
  }

  .leftTopTitle {
    font-weight: bold;
    font-size: 15px;
  }

  .itemCountNotBold {
    font-weight: normal;
  }

  .cartProductName {
    font-size: 17.5px;
    line-height: 17.5px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cartProductBrandName {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.75);
  }

  .removeFromCartLink {
    font-size: 12.5px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    margin-left: 2.5px;
  }

  .removeFromCartLink:hover {
    color: red;
  }

  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 4.5px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;

    border-radius: 50%;
  }

  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: black;
  }

  .fakeRadio {
    margin-right: 15px;
  }

  .fakeFreeShipping {
    font-size: 15px;
    font-weight: bold;
  }

  .leftBottom4thContainer {
    display: flex;
    justify-content: right;
    width: 90px;
    /* background-color: red; */
    font-weight: bold;
    font-size: 15px;
    padding-right: 25px;
  }
