.title {
  background-color: black;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.container {
  width: 1000px;
}
