.title {
  background-color: black;
  color: white;
}

.pic {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.pics {
  display: flex;
  flex-direction: row;
  gap: 6.25%;
  height: 12.5%;
  width: 12.5%;
}
