.loaderCotnainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outerContainer {
  height: 850px;
  width: 1400px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  background-color: springgreen;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.rightContainer {
  width: 1080px;
  background-color: skyblue;
}

.categorySelectorContainer {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.priceSelectorContainer {
  background-color: orange;
  display: flex;
  
  flex-direction: column;
}

.priceSelectionContainer {
  display: flex;
}

.customerRatingSelectorContainer {
  background-color: pink;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.fourStarsSelectionContainer {
  display: flex;
}

.rightTopContainer {
  height: 90px;
  display: flex;
  background-color: rosybrown;
}

.categoryName {
  font-size: 15px;
  color: rgb(0, 0, 66);
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.categorySelectorContainer {
  margin-top: 15px;
}

.categorySelectorTitle {
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 17.5px;
  color: rgb(40, 40, 40);
}

.categoryNames {
  font-size: 15px;
  color: rgb(0, 0, 66);
}

.mappableCategoriesContainer {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.priceSelectorContainer {
  margin-top: 10px;
}

.priceSelectorTitle {
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 17.5px;
  color: rgb(40, 40, 40);
}

.fifthContainer {
  /* background-color: skyblue; */
  display: flex;
}

.checkBoxContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(231, 35, 24);
  border-radius: 2.5px;
}

.checkBoxContainer2 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
}

.checkIconContainer {
  height: 15px;
  width: 15px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkIconContainer2 {
  height: 15px;
  width: 15px;
  /* border: 1px solid rgba(0, 0, 0, .75); */
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fakeRadio {
  margin-right: 10px;
}

.customerRatingSelectorTopContainer {
  display: flex;
  position: relative;
}

.customerRatingSelectorContainer {
  margin-top: 20px;
}

.customerRatingSelectorTitle {
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 17.5px;
  color: rgb(40, 40, 40);
  width: 150px;
}

.menuIcon {
  position: absolute;
  top: 7.5px;
  right: 25px;
  display: flex;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
