@import "@repay/react-credit-card/dist/react-credit-card.css";

.title {
  background-color: black;
  color: white;
}

.image {
  height: 100px;
  width: 100px;
}

.cartTitle {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.cardContainer {
  transform: scale(.5);
}

