@import "@repay/react-credit-card/dist/react-credit-card.css";

.title {
  background-color: black;
  color: white;
}

.image {
  height: 100px;
  width: 100px;
}

.cartTitle {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.cardContainer {
  transform: scale(0.5);
}

/* CONFIRM PAGE STYLING */

.outerContainer {
  /* background-color: red; */
  display: flex;
  width: 1400px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 25px;
}

.leftContainer {
  width: 920px;
  /* background-color: pink; */
  /* min-height: 975px; */
  min-height: 792.5px;
  margin-bottom: 0px;
}

.rightContainer {
  position: sticky;
  top: 105px;
  z-index: 25;
  /* background-color: yellow; */
  width: 455px;
  min-height: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.left1stContainer {
  height: 50px;
  /* background-color: skyblue; */
  font-size: 22.5px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 35px;
}

.left2ndContainer {
  display: flex;
  justify-content: space-between;
  height: 85px;
  /* background-color: lightseagreen; */
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  /* line-height: 20px; */
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
  color: black;
  /* padding-bottom: 5px; */
}

.editLink {
  width: 25px;
  height: 15px;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.editLink:hover {
  color: rgb(231, 35, 13);
}

.left3rdContainer {
  height: 110px;
  /* background-color: lightsteelblue; */
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shippingNowTitle {
  margin-bottom: 15px;
}

.productImagesContainer {
  display: flex;
}

.productImageContainer {
  height: 85px;
  height: 55px;
  margin-right: 10px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fakeRadio {
  margin-right: 10px;
}

.fakeArrives {
  font-weight: bold;
}

.left4thContainer {
  height: 65px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 65px;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4.5px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;

  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: rgb(231, 35, 13);
}

.left4thContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrivesContainer {
  display: flex;
  margin-left: 20px;
}

.freeLabel {
  margin-right: 20px;
  color: rgb(31, 153, 106);
}

.left5thContainer {
  height: 50px;
  /* background-color: skyblue; */

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.paymentTitle {
  font-size: 20px;
  font-weight: bold;
}

.left6thContainer {
  margin-top: 40px;
  margin-bottom: 10px;
}

.creditCardTitle {
  display: flex;
  margin-left: 20px;
}

.creditCardTitle {
  font-size: 15px;
  font-weight: bold;
}

.ccTitle {
  margin-left: 2.5px;
  margin-bottom: 5px;
}

.creditCardDetails {
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 12.5px;
  margin-left: 55px;
}

.left8thContainer {
  display: flex;
  position: relative;
}

.left8thLeftContainer {
  display: flex;
  justify-content: space-between;
  /* background-color: yellowgreen; */
  width: 675px;
}

.left8thRightContainer {
  position: relative;
  margin-left: 25px;
  height: 55px;
  width: 220px;
  display: flex;
  align-items: center;
  /* background-color: hotpink; */
}

.left9thContainer {
  display: flex;
  /* background-color: lawngreen; */
  height: 125px;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}
.left9thLeftContainer {
  /* background-color: lightblue; */
}

.left9thRightContainer {
  display: flex;
  justify-content: center;
  /* background-color: lightslategray; */
  width: 230px;
  margin-top: 30px;
}

.left9thLeftTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}

.saveButtonContainer {
  width: 145px;
  height: 50px;
  background-color: rgb(231, 35, 13);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}

.saveButtonContainer2 {
  width: 145px;
  height: 50px;
  background-color: rgb(231, 35, 13);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  opacity: 0.5;
}

.saveButton {
  width: 145px;
  height: 50px;
  background-color: rgb(231, 35, 13);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 12.5px;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

.saveButton:hover {
  background-color: rgb(211, 18, 9);
}

.viewCartButton:active {
  transform: scale(0.95);
}

.saveButton2 {
  width: 145px;
  height: 50px;
  background-color: rgb(231, 35, 13);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 12.5px;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left9thLeftTopLeftContainer {
  height: 15px;
  width: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left9thLeftTopRightContainer {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12.5px;
}

.left9thLeftBottomContainer {
  margin-top: 20px;
  margin-left: 55px;
}

.address12,
.address22 {
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.75);
}

.leftInputContainer input {
  box-sizing: border-box;
  font-size: 15px;
  padding: 7.5px;
  width: 450px;
  margin-left: 55px;
  outline: none;
}

.rightInputContainer input {
  font-size: 15px;
  padding: 7.5px;
  width: 150px;
  outline: none;
}

.creditCardPicContainer {
  transform: scale(0.5);
  position: absolute;
  top: -85px;
  right: -30px;
}

.right1stContainer {
  height: 40px;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  font-size: 17.5px;
  font-weight: bold;
  margin-top: 20px;
}

.right2ndContainer {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* background-color: pink; */
  margin: 0 25px;
}

.fakeShippingValue {
  color: rgb(31, 153, 106);
}

.right3rdContainer {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* background-color: yellowgreen; */
  margin: 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.right4thContainer {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  /* background-color: blanchedalmond; */
  margin-top: 20px;
  padding-bottom: 50px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.spacer {
  height: 20px;
}

.right5thContainer {
  display: flex;
  margin: 0 20px;
  height: 55px;
  width: 415px;
}

.placeOrderButtonContainer {
  height: 55px;
  width: 415px;
}

.placeOrderButton {
  height: 55px;
  width: 415px;
  background-color: rgb(231, 35, 13);
  outline: none;
  border: none;
  color: white;
  transition: 0.15s ease-in-out;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17.5px;
}

.placeOrderButton:hover {
  background-color: rgb(211, 18, 9);
}

.placeOrderButton:active {
  transform: scale(0.95);
}

.placeOrderButton2 {
  height: 55px;
  width: 415px;
  background-color: rgb(231, 35, 13);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17.5px;
  opacity: 0.5;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right6thContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 20px;
  font-size: 12.5px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
  cursor: not-allowed;
}

.right7thContainer {
  display: flex;
  margin: 0 20px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
}

.lighterLabel {
  font-weight: normal;
}

.right8thContainer {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: skyblue; */
}

.right8thContainer2 {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.cartItemImageContainer {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
}

.cartItemImageContainer2 {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.cartItemImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productName,
.productPrice {
  font-size: 15px;
}

.productName {
  width: 250px;
}

.productPrice {
  font-weight: bold;
}

.angleDown {
  position: absolute;
  right: 0;
  top: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.invalidCC {
  position: absolute;
  top: 40px;
  left: 55px;
  font-size: 12.5px;
  color: rgb(231, 35, 13);
}

.left9thLeftTopContainer {
  margin-top: 10px;
}

.invalidExp {
  position: absolute;
  top: 40px;
  left: 525px;
  font-size: 12.5px;
  color: rgb(231, 35, 13);
}

.left2ndContainer2 {
  height: 430px;
  /* background-color: yellow; */
}

.left2ndContainer21stContainer {
  height: 85px;
  /* background-color: skyblue; */
  display: flex;
  margin-bottom: 10px;
}

.editLastNameInput {
  width: 445px;
}

.editFirstNameInput {
  width: 445px;
  margin-right: 25px;
}

.editFirstNameInput input {
  width: 445px;
  height: 50px;
  margin-right: 25px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(54, 34, 34, 0.25);
}

.editFirstNameInput input:focus {
  border: 1px solid rgba(54, 34, 34, 0.5);
}

.editLastNameInput input {
  width: 450px;
  height: 50px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.editLastNameInput input:focus {
  border: 1px solid rgba(54, 34, 34, 0.5);
}

.left2ndContainer22ndContainer {
  height: 170px;
  margin-bottom: 20px;
  /* background-color: rosybrown; */
}

.editAddress1Input {
  width: 920px;
}

.editAddress2Input {
  width: 920px;
}

.divisor {
  height: 10px;
  width: 10px;
  opacity: 0;
}

.editAddress1Input input {
  width: 920px;
  height: 50px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.editAddress1Input input:focus {
  border: 1px solid rgba(54, 34, 34, 0.5);
}

.editAddress2Input input:focus {
  border: 1px solid rgba(54, 34, 34, 0.5);
}

.editPhoneInput input:focus {
  border: 1px solid rgba(54, 34, 34, 0.5);
}

.editAddress1Input {
  margin-bottom: 35px;
}

.editAddress2Input {
  transform: translateY(-5px);
}

.editAddress2Input input {
  width: 920px;
  height: 50px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.editPhoneInput {
  width: 445px;
}

.editPhoneInput input {
  width: 445px;
  height: 50px;
  margin-right: 25px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.editPhoneInput {
  transform: translateY(-10px);
  margin-bottom: 25px;
}

.left2ndContainer24thContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.setAsDefaultLabel {
  margin-left: 10px;
  font-size: 12.5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

.left2ndContainer25thContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 40px;
  /* background-color: salmon; */
}

.saveEditButton {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(231, 35, 13);
  font-weight: bold;
  font-size: 12.5px;
  width: 230px;
  height: 40px;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.saveEditButton2 {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(231, 35, 13);
  font-weight: bold;
  font-size: 12.5px;
  width: 230px;
  height: 40px;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.loaderCotnainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.saveEditButton:hover {
  background-color: rgb(211, 18, 9);
}

.saveEditButton:active {
  transform: scale(0.95);
}

.saveEditButton2 {
  outline: none;
  border: none;
  color: white;
  background-color: rgb(231, 35, 13);
  font-weight: bold;
  font-size: 12.5px;
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.15s ease-in-out;
}

.cancellation {
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  transition: 0.15s ease-in-out;
}

.cancellation:hover {
  color: rgba(0, 0, 0, 1);
}

.warning {
  color: rgb(231, 35, 13);
  font-size: 12.5px;
  transform: translateY(-20px);
}

.warning2 {
  color: rgb(231, 35, 13);
  font-size: 12.5px;
  position: absolute;
  transform: translateY(-20px);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusTag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.confirmedPaymentContainer {
  margin-top: 25px;
  display: flex;
  /* background-color: red; */
  /* height: 35px; */
}

.fakeCC {
  transform: scale(0.25);
  position: absolute;
  top: -67.5px;
  right: 65px;
}

.left8thRightContainer {
  position: relative;
  margin-left: 25px;
  height: 55px;
  width: 220px;
  display: flex;
  align-items: center;
  /* background-color: hotpink; */
}

.ccInfoContainer {
  display: flex;
  flex-direction: column;
  transform: translateX(-150px);
}

.ccEnding {
  font-weight: bold;
  font-size: 15px;
}

.ccExpiration {
  font-size: 12.5px;
}

.changeCC {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  transition: 0.15s ease-in-out;
  cursor: pointer;
  transform: translate(450px, 0px);
}

.changeCC:hover {
  color: rgb(231, 35, 13);
}

.demoCard {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.33);
  text-decoration: underline;
  cursor: pointer;
  top: 42.5px;
  right: 415px;
  transition: 0.15s ease-in-out;
}

.demoCard:hover {
  color: rgba(31, 153, 106, 1);
}

.untouchable {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 220px;
  height: 82.5px;
  width: 100px;
  background-color: red;
  z-index: 1000;
  opacity: 0;
}
