.body {
  width: 500px;
  height: 500px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  background: linear-gradient(180deg, #70f, #40f);
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: inherit;
}

.container {
  background-color: red;
  width: 50vw;
  height: 50vh;
}

.draggableDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: "341.5px";
  height: "255px";
}
