.profile-dropdown {
  position: absolute;
}

.navbar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.navbar * {
  margin: 0.5em;
  list-style-type: none;
}

.myNavbar {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0625), 0 3px 6px rgba(0, 0, 0, 0.0625);
}

.secondContainer img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-right: 10px;
}

.outerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 1400px;
}

.leftSection {
  display: flex;
}

.rightSection {
  display: flex;
}

.cartButtonContainer {
  display: flex;
  transform: translateY(-10px);
  cursor: pointer;
}

.cartButtonContainer2 {
  display: flex;
  transform: translateY(-10px);
  cursor: pointer;
  position: relative;
}

.cartButtonContainer3 {
  display: flex;
  transform: translateY(-10px);
  cursor: not-allowed;
  position: relative;
}

.leftMenuButton {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
}

.navLogo {
  height: 5em;

  width: 5em;
}

.leftMenuLabel {
  font-size: 12px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.leftMenuButtonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 25px;
  cursor: pointer;
}

.leftMenuButtonContainer:hover .leftMenuLabel {
  color: rgb(231, 35, 13);
}

.leftMenuButton {
  margin-bottom: 2px;
}

.navLogo {
  height: 65px;
  width: 190px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.middleSection {
  width: 995px;
  margin-right: 55px;
  margin-left: 55px;
}

.rightSection {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightMenuButtonContainer {
  margin-right: 35px;
  cursor: pointer;
}

.rightMenuButtonContainer2 {
  margin-right: 35px;
  cursor: pointer;
}

.userInitials {
  height: 25px;
  width: 25px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  border-radius: 1000em;
  padding: 17.5px;
  margin-top: 12.5px;
  margin-left: 4px;
}

.accountLabel {
  font-size: 12px;
  margin-bottom: 15px;

  margin-right: 1px;
  transition: 0.15s ease-in-out;
}

.rightMenuButtonContainer:hover .accountLabel {
  color: rgb(231, 35, 13);
}

.cartButtonContainer {
  position: relative;
}

.carButton {
  height: 35px;
  width: 35px;
}

.carButton2 {
  height: 35px;
  width: 35px;
}

.numOfCartItems {
  background-color: rgb(231, 35, 13);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 3px;
  width: 3px;
  border-radius: 1000em;
  font-size: 10px;
  padding: 10px;
  position: absolute;
  right: -10px;
  top: -10px;
}

.cartLabel {
  font-size: 12px;
  width: 35px;
  position: absolute;
  transform: translate(0px, 36px);
  transition: 0.15s ease-in-out;
}

.cartLabel2 {
  font-size: 12px;
  position: absolute;
  width: 40px;
  transform: translate(0px, 36px);
  transition: 0.15s ease-in-out;
}

.cartButtonContainer:hover .cartLabel {
  color: rgb(231, 35, 13);
}

.cartButtonContainer:hover .cartLabel2 {
  color: rgb(231, 35, 13);
}

.cartButtonContainer2:hover .cartLabel {
  color: rgb(231, 35, 13);
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  visibility: none;
}

.button2 {
  margin-right: 35px;
}

.cartSubMenu {
  max-height: 750px;
  overflow-y: auto;
}

.menuItemOuterContainer {
  display: flex;
  width: 380px;
  height: 125px;
  cursor: default;
  transition: 0.15s ease-in-out;
}

.menuItemOuterContainer:hover {
  background-color: rgba(0, 0, 0, 0.015625);
}

.menuItemLeftContainer {
  height: 125px;
  width: 140px;
  cursor: default;
  display: flex;
}

.menuItemProductImageContainer {
  height: 125px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuItemProductImage {
  width: 75%;
  height: 75%;
  width: 80%;
  height: 80%;
  object-fit: cover;
  transform: translateX(-25px);
}

.menuItemRightContainer {
  width: 100%;
  height: 100%;
  cursor: default;
}

.menuItemRightBottomContainer {
  display: flex;
  justify-content: space-between;
}

.menuItemRightTopContainer {
  display: flex;
  flex-direction: column;
  transform: translate(-25px, 0px);
}

.menuItemProductName {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  height: 50px;
  line-height: 17.5px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.menuItemProductName:hover {
  color: rgb(211, 18, 9);
}

.menuItemProductQuantity {
  color: rgba(0, 0, 0, 1);
  text-align: left;
  display: flex;
  font-size: 12.5px;
}

.removeLink {
  font-size: 12.5px;
  text-decoration: underline;
  margin-top: 10px;
  color: rgba(0, 0, 0, 1);
  transform: translate(-25px, 0px);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.removeLink:hover {
  color: #e7230d;
}

.priceTag {
  font-size: 16px;
  font-weight: 700;
  transform: translate(0px, 5px);
}

.lowerSubMenuContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 5px;
  height: 125px;
  cursor: default;
  width: 380px;
  display: flex;
  flex-direction: column;
  transition: 0.15s ease-in-out;
}

.lowerSubMenuContainer:hover {
  background-color: white;
}

.lowerSubMenuContainerTopContainer {
  display: flex;
  height: 50px;
  width: 380px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: default;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 15px;
}

.cartTotal {
  font-size: 17.5px;
  font-weight: 700;
}

.lowerSubMenuContainerBottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 380px;
  height: 65px;
}

.viewCartButtonContainer {
  width: 345px;
  height: 50px;
}

.viewCartButton {
  width: 345px;
  height: 55px;
  color: white;
  outline: none;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(231, 35, 13);
  transition: 0.15s ease-in-out;
}

.viewCartButton:hover {
  background-color: rgba(231, 35, 13, 0.9);
  background-color: rgb(211, 18, 9);
}

.viewCartButton:active {
  transform: scale(0.95);
}

/* REMOVE CONFIRMATION */

.deleteReviewConfirmationModal {
  width: 500px;
  height: 285px;
  background-color: rgb(255, 255, 255);
  transform: translate(-15px, -15px);
}

.firstContainer {
  width: 500px;
  height: 55px;
}

.modalTitle {
  color: rgba(0, 0, 0, 1);
  margin-top: 30px;
  font-weight: 800;
  font-size: 17.5px;
  margin-left: 35px;
  margin-bottom: 35px;
}

.confirmationText {
  margin-left: 35px;
  width: 420px;
  height: 30px;
  color: rgba(0, 0, 0, 1);
}

.secondContainer {
  margin-top: 35px;
  margin-left: 35px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
}

.reviewUsername {
  height: 160px;
  margin-right: 25px;
  color: rgba(0, 0, 0, 0.75);
  width: 300px;
}

.deleteReviewContent {
  font-weight: normal;
  height: 160px;
  width: 320px;
  overflow: auto;
  color: rgba(0, 0, 0, 0.75);
}

.thirdContainer {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: right;
  padding-right: 25px;
  transform: translateY(-60px);
}

.cancelButton {
  width: 85px;
  height: 45px;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  font-size: 12.5px;
  border: 2.5px solid rgb(231, 35, 13);
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

.cancelButton:hover {
  background-color: #da362c;
  color: white;
  font-size: 12.75px;
}
.cancelButton:active {
  transform: scale(0.95);
}

.reviewSubmissionConfirmationContainer {
  background-color: rgba(231, 35, 13, 0.25);
  width: 1145px;
  height: 55px;
  transform: translate(-15px, -15px);
  padding-left: 20px;
  font-size: 15px;
  color: rgba(231, 35, 13, 0.75);
  padding-top: 12.5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.yesButtonContainer {
  width: 60px;
  height: 45px;
  margin-left: 12.5px;
}

.yesButton {
  width: 60px;
  height: 45px;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 12.5px;
  border: none;
  background-color: rgb(231, 35, 13);
  transition: 0.15s ease-in-out;
}

.yesButton:hover {
  background-color: rgb(211, 18, 9);
}

.yesButton:active {
  transform: scale(0.95);
}

/* SIDEBARS */

/* RIGHT SIDE BAR */

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.sidebar2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidebar2 .closebtn {
  position: absolute;
  top: 0;
}

.sidebar2AccountLabel {
  color: black;
  font-size: 20px;
  cursor: default;
}

.sidebar2 {
  background-color: white;
}

.closebtn2 {
  position: absolute;
  top: 0;
  width: 400px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0625), 0 3px 6px rgba(0, 0, 0, 0.0625);
}

.closeSideBar2Button {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  color: black;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.closeSideBar2Button:hover {
  color: rgba(0, 0, 0, 0.68);
  font-size: 42.5px;
}

.sidebar2SecondContainer {
  height: 90px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  cursor: default;
}

.sidebar2User {
  font-weight: 900;
  cursor: default;
  font-size: 25px;
}

.sidebar2PowerUp {
  font-size: 12.5px;
  transform: translateY(-2.5px);
  color: rgba(0, 0, 0, 0.68);
}

.sidebar2MenuItemsContainer {
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 15px;
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.68);
}

.sidebar2MenuItemsContainer2 {
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.68);
}

.sidebar2MenuItem,
.sidebar2MenuItem {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 400px;
  color: black;
}

.sidebar2MenuItem:hover,
.sidebar2MenuItem:hover {
  color: rgb(231, 35, 13);
}

.sidebar2MenuItem2 {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 400px;
  color: black;
  text-decoration: underline;
}

.sidebar2MenuItem2:hover {
  color: rgb(231, 35, 13);
}

.loaderCotnainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 50%;
  width: 500px;
  height: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LEFT SIDE BAR */

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidebar .closebtn2 {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebarAccountLabel {
  color: black;
  font-size: 20px;
  cursor: default;
}

.sidebarAccountLabel2 {
  color: black;
  font-size: 20px;
  cursor: default;
}

.sidebar {
  background-color: white;
}

.closebtn {
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0625), 0 3px 6px rgba(0, 0, 0, 0.0625);
}

.closeSideBarButton {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  color: black;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.closeSideBarButton:hover {
  color: rgba(0, 0, 0, 0.68);
  font-size: 42.5px;
}

.sidebarSecondContainer {
  height: 90px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  cursor: default;
}

.sidebarSecondContainer2 {
  height: 90px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  cursor: default;
}

.sidebarUser {
  font-weight: 900;
  cursor: default;
  font-size: 25px;
}

.shopLabel {
  font-weight: bold;
  cursor: default;
  font-size: 20px;
}

.sidebarPowerUp {
  font-size: 12.5px;
  transform: translateY(-2.5px);
  color: rgba(0, 0, 0, 0.68);
}

.sidebarMenuItemsContainer {
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 15px;
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.68);
}

.sidebarMenuItemsContainer3 {
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 15px;
  font-size: 17.5px;
  color: rgba(0, 0, 0, 0.68);
  transform: translateY(-20px);
}

.sidebarMenuItem,
.sidebarMenuItem {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 400px;
  color: black;
}

.sidebarMenuItem:hover,
.sidebarMenuItem:hover {
  color: rgb(231, 35, 13);
}

.sidebarMenuItem2 {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  width: 400px;
  color: black;
  text-decoration: underline;
}

.sidebarMenuItem2:hover {
  color: rgb(231, 35, 13);
}

.sidebarMenuItem3 {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  height: 70px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  width: 400px;
}

.sidebarMenuItem3:hover,
.sidebarMenuItem3:hover {
  background-color: rgb(245, 245, 245);
  color: black;
}

.fakeSidebarFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 95px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 1000px;
  cursor: default;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.gameStopLocaiton {
  font-weight: bold;
  font-size: 12.5px;
}

.gameStopStoreHours {
  color: rgba(0, 0, 0, 0.75);
  font-size: 12.5px;
}

.fakeSidebarFooterRight {
  position: absolute;
  left: 325px;
}
